body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.login-card{
  height:400px;
  width: 350px ;
  margin: 65px auto;
}

.login-logo{
  max-width: 100%;
  height: auto;
}

#login-btn{
  background:#C82F34;
  color: antiquewhite
}

.formcard-div{
  justify-content: center
}

 .sidedrawer-dashboard div{
  background: #232323;
}